<div class="relative hidden lg:block">
  <!-- Checkbox pour ouvrir/fermer le menu -->
  <input
    class="invisible absolute pointer-events-none peer"
    type="checkbox"
    id="darkmode-toggle"
    name="darkmode-toggle"
    aria-label="Toggle Dark Mode"
  />
  <!-- Overlay -->
  <label
    for="darkmode-toggle"
    class="fixed top-0 left-0 w-screen h-screen bg-black opacity-50 z-10 hidden peer-checked:block"
  ></label>

  <!-- Bouton principal -->
  <label
    for="darkmode-toggle"
    class="flex flex-row gap-1 flex-1 lg:py-2 lg:pl-4 cursor-pointer group"
  >
    <img id="theme-icon" src="/img/theme/setting-icon.svg" alt="Theme icon" class="w-6 h-6" />
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-6 h-6 peer-checked:group-[]:-scale-y-100"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="m19.5 8.25-7.5 7.5-7.5-7.5"
      />
    </svg>
  </label>

  <!-- Menu -->
  <div
    class="absolute right-0 top-full bg-white dark:bg-gray-900 py-4 text-gray-700 dark:text-gray-200 rounded-xl w-max min-w-[150px] shadow-xl hidden peer-checked:block z-20"
  >
    <label
      for="darkmode-toggle"
      class="px-6 pb-2 text-xs text-gray-400 dark:text-gray-500 uppercase"
    >
      {{ i18n "theme.switch" }}
    </label>
    <ul class="flex flex-col" id="theme-options">
      <li>
        <a href="#"
           class="theme-option flex flex-row gap-2 py-2 px-6 items-center hover:bg-purple-dark/10"
           data-theme="light"
        >
          <img class="w-5 h-5" src="/img/theme/sun-icon.svg" />
          <span class="text-xs uppercase font-bold">
            {{ i18n "theme.light" }}
          </span>
        </a>
      </li>
      <li>
        <a href="#"
           class="theme-option flex flex-row gap-2 py-2 px-6 items-center hover:bg-purple-dark/10"
           data-theme="dark"
        >
          <img class="w-5 h-5" src="/img/theme/moon-icon.svg" />
          <span class="text-xs uppercase font-bold">
            {{ i18n "theme.dark" }}
          </span>
        </a>
      </li>
      <li>
        <a href="#"
           class="theme-option flex flex-row gap-2 py-2 px-6 items-center hover:bg-purple-dark/10"
           data-theme="auto"
        >
          <img class="w-5 h-5" src="/img/theme/setting-icon.svg" />
          <span class="text-xs uppercase font-bold">
            {{ i18n "theme.auto" }}
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
